# Virtual environment
manglish_env/
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.bak
*.marginbak
archive/
.venv/
manglish_env/
faq_templates/
faqs/
Modelfile
test_*.py
shops/*/shop_context.json

chat_logs.csv
shops/*/chat_logs.csv
